{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to SatMapper {% endblock %}</h1>
    <p>Enter the coordinates of your location below and click "Show Map" to display a map of visible satellites</p>

    <form action="/map" method="POST" target="_blank">

        <div class="form-group">
          <label>Latitude</label>
          <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Leave blank to autofill">
        </div>

        <div class="form-group">
          <label>Longitude</label>
          <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Leave blank to autofill">
        </div>
        <div class="form-group">
          <label>Elevation (m)</label>
          <input type="text" class="form-control" id="elevation" name="elevation" placeholder="Leave blank to autofill (Note: this may take roughly 30 seconds)">
        </div>
        <button type="submit" class="btn btn-primary">Show Map</button>
        <!--<a href="/map" class="btn btn-primary btn-lg" target="_blank">Show Map</a>-->
    </form>
{% endblock %}
